torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
deepspeed
accelerate==1.8.1
datasets==4.0.0
safetensors
peft==0.17.0
transformers==4.55.0
bitsandbytes==0.47.0
triton==3.2.0
#trl==0.19.1
trl==0.21.0
hf_transfer
huggingface_hub[cli]
wheel 
packaging 
ninja
qwen_vl_utils
sagemaker-mlflow
mlflow==3.0.0
flash-attn==2.7.3