wandb
vllm
unsloth
torch>=2.4.0
transformers>=4.46.1
accelerate>=0.21.0
datasets
peft>=0.8.2
trl>=0.7.1
bitsandbytes
xformers
cut-cross-entropy
unsloth-zoo
sentencepiece
protobuf
huggingface_hub
hf_transfer
rouge
