transformers==4.51.3
peft==0.15.1
accelerate==1.6.0
bitsandbytes==0.45.5
datasets==3.5.0
evaluate==0.4.3
huggingface_hub[hf_transfer]
mlflow
rouge
safetensors>=0.5.2
sagemaker==2.244.0
sagemaker-mlflow==0.1.0
sentencepiece==0.2.0
scikit-learn==1.6.1
tokenizers>=0.21.0
trl==0.17.0
psutil
py7zr
pynvml
vllm==0.11.0
wandb