git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/trl.git
peft
accelerate==1.11.0
bitsandbytes==0.46.1
datasets==4.0.0
deepspeed==0.16.4
hf-transfer==0.1.8
hf_xet
liger-kernel==0.6.1
lm-eval[api]==0.4.9
kernels==0.12.1
mlflow
Pillow
safetensors>=0.6.2
sagemaker==2.251.1
sagemaker-mlflow==0.1.0
sentencepiece==0.2.1
tokenizers>=0.21.4
triton
tensorboard
psutil
py7zr
git+https://github.com/triton-lang/triton.git@main#subdirectory=python/triton_kernels
vllm==0.11.0
poetry
yq
psutil
nvidia-ml-py
pyrsmi
