torch==2.7.0
torchvision==0.22.0 
torchaudio==2.7.0
deepspeed==0.16.4
accelerate==1.6.0
peft==0.15.2
transformers==4.51.1
triton==3.3.0
trl==0.18.0
bitsandbytes==0.45.5
huggingface_hub
hf_transfer
protobuf==5.28.3
wandb
flash-attn==2.7.4.post1
sagemaker==2.251.1
mlflow
sagemaker-mlflow==0.1.0
