torch==2.6.0
torchvision==0.21.0 
torchaudio==2.6.0
accelerate==1.10.1
peft==0.15.2
transformers==4.51.1
triton==3.2.0
trl==0.18.0
bitsandbytes==0.45.5
deepspeed==0.16.4
datasets==3.6.0
liger-kernel==0.5.1
flash-attn==2.7.3
huggingface_hub
vllm
hf_transfer
protobuf==5.28.3
mlflow
sagemaker-mlflow==0.1.0