python-etcd
fsspec==2024.12.0
transformers>=5.3.0
datasets>=4.0.0
huggingface_hub[hf_transfer]
nemo-automodel @ git+https://github.com/NVIDIA-NeMo/Automodel.git@main
mlflow
sagemaker==3.5.0
sagemaker-mlflow==0.2.0
psutil
py7zr
nvidia-ml-py
wandb