torch==2.8.0
accelerate==1.13.0
bitsandbytes==0.49.2
datasets==4.7.0
deepspeed==0.18.7
hf_transfer==0.1.9
huggingface_hub==0.36.2
liger-kernel==0.7.0
mlflow==3.10.1
mlflow-skinny==3.10.1
mlflow-tracing==3.10.1
peft==0.18.1
protobuf==6.33.5
sagemaker-mlflow==0.2.0
transformers==4.56.2
triton==3.4.0
trl==0.29.0
vllm==0.11.0
https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.8cxx11abiTRUE-cp312-cp312-linux_x86_64.whl